:root {
  --body-color: linear-gradient(
    180deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  --white-color: #f1f1f1;
  --black-color: #1b1b1c;
  --blue-color: #03506F;
  --primary-color: rgb(245, 71, 74);
  --primary-color-hover: rgba(245, 71, 73, 0.9);

  --error-message-color: red;
  --success-message-color: green;

  --navbar-link-color: #352c21;
  --navbar-link-color-active: rgba(245, 71, 73, 0.7);
  --text-fs-sm: 1.1rem;
  --text-fs-md: 1.1rem;
  --text-fs-lg: 1rem;

  --h1-fs-sm: 2rem;
  --h1-fs-md: 2.5rem;
  --h1-fs-lg: 3rem;

  --page-width-sm: 90%;
  --page-width-md: 80%;
  --page-width-lg: 70%;

  --navbar-width-lg: 300px;
  --navbar-height: 92px;

  --border-radius: 1.3rem;

  --form-width-xl: 530px;
  --form-width-lg: 530px;
  --form-width-md: 400px;
  --form-width-sm: 100%;

}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html,
body,
#root {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--primary-color);
  font-size: var(--text-fs-sm);
}

.App {
  min-height: 100vh;
}

a {
  text-decoration: none;
  font-size: var(--text-fs-sm);
  /* transition: all 0.3s ease; */
}

a:hover {
  color: var(--primary-color);
}

h1 {
  font-size: var(--h1-fs-sm);
  font-weight: 500;
  color: var(--black-color);
}

section {
  /* background-color: var(--white-color); */
  padding: 1rem;
  min-height: calc(100vh - var(--navbar-height));
}

/* .client-layout{
  display: flex;
} */

.page-container{
  width: var(--page-width-sm);
  margin: 0 auto;
}

#auth-page{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.form {
  background-color: var(--white-color);
  width: var(--form-width-sm);
  max-width: var(--form-width-xl);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form-title {
  margin-bottom: 1rem;
  text-align: center;
}
.form-group {
  width: 100%;
  margin: 0.5rem 0;
  word-break: keep-all;
}

.form-group span,
.error-message {
  font-size: 0.9rem;
  padding: 5px;
  color: var(--error-message-color);
}

.form-group span {
  display: none;
  letter-spacing: 0.01rem;
  line-height: 1.2rem;
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  outline: none;
  font-size: var(--text-fs-sm);
}

.form-input:invalid[focused="true"] {
  border: 2px solid var(--error-message-color);
}
.form-input:valid[focused="true"] {
  border: 2px solid green;
}

.form-input:invalid[focused="true"] ~ span {
  display: block;
}

.btn {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--primary-color);
  color: var(--white-color);
  font-size: var(--text-fs-sm);
  font-weight: 500;
  letter-spacing: 0.08rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-submit {
  margin: 0.5rem 0;
}

.btn:hover {
  background: var(--primary-color-hover);
}

.link {
  margin-top: 1rem;
  color: var(--black-color);
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--primary-color);
}

.foods-container{
  display: grid;
  gap: 1.5rem;

}

.food-card{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  position: relative;
  word-break: keep-all;
  padding: 1rem;
}

.food-base{
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgb(170, 170, 170);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.food-header {
    width: 100%;
    height: 100%;
}

.food-card-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
.food-price{
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 10px;
  letter-spacing: 0.05em;
}

.add-cart-icon{
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.valid_cart_icon{
  width: 35px;
  height: 35px;
  color: green;
  pointer-events: none;
}

.cart-icon{
  width: 35px;
  height: 35px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.cart-icon:hover{
  color: var(--primary-color);
}
.add-cart-icon path{
  stroke: var(--primary-color);
  /* transition: stroke 0.3s ease; */
}

/* .add-cart-icon:hover path{
  stroke: var(--primary-color);
} */

.icons {
  width: 20px;
  height: 20px;
}

.delete_cart_item_icon{
  color: var(--primary-color);
}
.food-header img{
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
  object-fit: cover;
  -o-object-fit: cover;
  /* margin: 0 auto; */
}
/* .food-card{
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  position: relative;
  word-break: keep-all;
}

.food-card h2, .food-card p{
  color: var(--black-color);
}

.food-header {
  width: 50px;
  height: 50px;
}

.food-header img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

#dashboard .food-header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  color: var(--black-color);

}

.food-header-user{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.food-header-btn{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.food-header-avatar{
  width: 35px;
  height: 35px;
}

.food-header-username{
  font-size: var(--text-fs-sm);
  font-weight: 500;
}

.food-date{
  display: block;
  margin-top: 0.5rem;
  font-size: var(--text-fs-sm);
  color: #ccc;
  font-style: italic;
}

.btn-delete, .btn-edit{
  display: flex;
  width: max-content;
  align-items: center;
  gap: 0.5rem;
  padding: 10px 15px;
}

.btn-edit{
  background-color: var(--blue-color);
}
.btn-edit:hover{
  background-color: var(--blue-color);
}

.food-icons{
  width: 20px;
  height: 20px;
} */

.modal-btn{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  body, .form-input, .btn, a {
    font-size: var(--text-fs-md);
  }

  .page-container{
    width: var(--page-width-md);
  }
  h1 {
    font-size: var(--h1-fs-md);
  }
  .foods-container{
    grid-template-columns: repeat(2, 1fr);
  }
  /* #dashboard .food-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  .food-header-btn{
    flex-direction: row;
    align-items: center;
  }

  .food-date{
    text-align: end;
  }

  .btn-delete, .btn-edit{
    padding: 10px;
  } */
}

@media screen and (min-width: 1024px) {
  body, .form-input, .btn, a {
    font-size: var(--text-fs-lg);
  }
  .page-container{
    width: var(--page-width-lg);
  }
  h1 {
    font-size: var(--h1-fs-lg);
  }
  .foods-container{
    grid-template-columns: repeat(3, 1fr);
  }
}
