.cart-modal{
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    height: 100%;
    z-index: 4;
    padding: 1rem 0;
    transition: transform 0.5s ease;
    overflow-y: auto;
    transform: translateX(100%);

    @media screen and (min-width: 768px) {
        left: 40%;
    }
}

.cart-open{
    transform: translateX(0%);
}

body:has(> .cart-open){
    overflow-y: hidden;
}

.cart-modal-header{
    padding: 0 1rem;

    .close-icon{
        width: 30px;
        height: 30px;
    }
}

.cart-modal-container{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cart-modal-item{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem;

    &::after{
        content: "";
        position: absolute;
        top: 100%;
        left: 10%;
        width: 80%;
        height: 2px;
        background-color: #000;
    }
}

.cart-modal-item-img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-modal-item-img img{
    width: 100%;
    max-width: 100px;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

.cart-modal-item-content{
    flex: 4;
    padding-left: 1rem;
}

.cart-modal-item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.valid-action-btn{
    margin: 1rem auto;
}

.delete-cart-item-icon{
    color: var(--primary-color);
  }