nav{
  position: sticky;
  top: 0;
  backdrop-filter: blur(15px);
  padding: 0.5rem;
  height: var(--navbar-height);
  z-index: 4;
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-color);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.logo a{
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--black-color);
  text-decoration: none;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: color 0.3s ease;

  @media screen and (min-width: 1024px) {
    font-size: 1.2rem;
  }
}

.logo a:hover{
  color: var(--primary-color);
}

ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li{
  margin: 0 0.5rem;

  @media screen and (min-width: 768px) {
    margin: 0 1rem;
  }
}

.add-link{
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  &:hover .add-icon, &:hover span{
    color: var(--primary-color);
  }
}

.add-link span{
  display: none;

  @media screen and (min-width: 768px){
    display: inline;
    color: var(--black-color);
    margin-left: 5px;
    font-weight: 500;
    transition: color 0.3s ease;
  }
}

.add-icon{
  width: 30px;
  height: 30px;
  color: var(--black-color);
  transition: color 0.3s ease;
}
.avatar-block{
  border-radius: 50%;
  box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
}
.avatar{
  width: 60px;
  height: 60px;
}

.cart-link{
  position: relative;
}

.cart-count{
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #fff;
  border-radius: 50%;
  padding: 0 8px;
  color: #fff;
  background-color: var(--primary-color);
}
