.card-container{
    gap: 1rem;
}

.card{
    background-color: #fff;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.card-header{
    margin-bottom: 1rem;
    @media screen and (min-width: 1024px){
        font-size: 1.3rem;
    }
}

.card-title{
    // font-size: 1.5rem;
    font-weight: 600;
    word-break: break-all;
}

.card-subtitle{
    color: #aaaaaa;
}

.card-bottom{
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

.card-price{
    text-decoration: underline;
    font-weight: 500;

    @media screen and (min-width: 1024px){
        font-size: 1.1rem;
    }
}

// ====== ORDER PAGE =========
.orders-container{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.order-burger-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media screen and (min-width: 768px) {
        padding-left: 20px;
    }
}

.order-burger-header{
    @media screen and (min-width: 1024px){
        font-size: 1.1rem;
    }
}